h1{
    font: bold;
    font-family:  Helvetica,Arial, sans-serif;
    color: white;
    font-size: 25px;
}
html, body {
    margin: 0;
    height: 100%;
}
.viewport{
    display: flex;
    height: 100%;
    background-color: rgb(50, 50, 50);
    justify-content: center;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;


}
.top{
    display: flex;
    flex-direction: row;
}

#status{
    color: orange;
}
input{
  height: 2em;
  line-height: 30px;
  padding: 0 10px;
  font-size: 16px;
  border: 0px;
  color: white;
  width: 200px;
  background-color: rgb(80 , 80, 80);
  outline: none;
}
#inputs{
    flex-direction: column;
    justify-content: center;
}
#inputs >*{
padding: 5px;
}
#ui{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    width: 300px;
    padding: 20px;
    background-color: rgb(75 , 75, 75);
    border-radius: 10px;
}
#selector{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
label{
    padding-right: 10px;
    font-size: 20px;
    font-family:  Helvetica,Arial, sans-serif;
    color: white;
}
select{
    height: 2em;
    width: 3em;
}
#submit{
    color: white;
    background-color: rgb(0, 122, 255);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    font-family: Helvetica,Arial, sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#submit:hover{
    cursor: pointer;
}
#container{
    display: flex;
    flex-direction: row;
}
.loader {
  border: 3px solid #f3f3f3; /* Light grey */
  border-top: 3px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 13px;
  height: 13px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
